
{% extends 'base.html' %}
{% load static %}

{% block content %}


<header>
    {% if default.logoImage %}
            <img src="{{ default.logoImage.url }}" class="logo">
        {% endif %}
    <div class="nav-links">

            <a href="#" class="reports">Reports</a>
            <a href="#" class="blogs">Blogs</a>
        </div>
</header>



    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search articles...">
    </div>
    {% for blog in blogs %}
    <main class="blog-container">
        <article class="blog-card">
            <h2>{{blog.title}}</h2>
            <div class="date"><i class="fas fa-calendar"></i> {{blog.created_at}}</div>
            <p>{{blog.slug}}</p>
            <span class="tag">{{blog.category}}</span>
        </article>
    {% endfor %}

    </main>

    <script>
        document.querySelector('.search-bar').addEventListener('input', function(e) {
            const searchTerm = e.target.value.toLowerCase();
            const articles = document.querySelectorAll('.blog-card');

            articles.forEach(article => {
                const title = article.querySelector('h2').textContent.toLowerCase();
                const content = article.querySelector('p').textContent.toLowerCase();

                if (title.includes(searchTerm) || content.includes(searchTerm)) {
                    article.style.display = 'block';
                } else {
                    article.style.display = 'none';
                }
            });
        });
    </script>
</body>


{% endblock %}